
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

img {
    max-width: 100%;
    height: auto;
    width: auto\9; /* ie8 */
}

.header-container {
  width:100%;
  color: #FFFFFF;
  background-color: #0746a3;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

/*.header {*/
  /*width: 100%;*/
  /*height: 470px;*/
  /*display: flex;*/
  /*justify-content: space-between;*/
/*}*/

.header-text {
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-size: 37px; 
    list-style: none;
}

.header-text > ul> li {
    list-style: none;
}

.banner {
  display:flex;
  /*flex-wrap: wrap;*/
}

.main {
    background-color: #FFFFFF;
    position: relative;
}

.section-title {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  color: #999;
  border-bottom: 1px solid #CCCCCC;
  padding-bottom: 10px;
  display: inline-block;
  margin-bottom: 30px;
}

/*.row {
  padding-bottom: 20px;
}*/

/*.section-gray {
  background-color: #EEEEEE;
}*/

.info {
  margin-top: 0px;
}

.section {
  padding: 30px 0;
  position: relative;
  background-color: #FFF;
}

.price-list {
    list-style-position: inside;
    font-size: 18px;
}

.prime-sponsor {
  /*border: 3px solid #73AD21;*/
  position: static;
  /*max-width: 465px;*/
}

.general-sponsor,
.bronze-sponsor,
.silver-sponsor,
.gold-sponsor {
  /*border: 3px solid #73AD21;*/
  position: static;
  /*max-width: 350px;*/
}

.mst {
  /*max-width: 235px;*/
  /*padding-left: 82px;*/
  padding-top: 46px;
}

.carecredit {
  padding-top: 35px;
}

.vca {
  padding-top: 35px;
}

.medsforvets {
  padding-top: 35px;
}

.epsilon {
  padding-top: 35px;
}

.sponsor-parent {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.example-appear {
  opacity: 0.01;
}

.example-appear.example-appear-active {
  opacity: 1;
  transition: opacity .5s ease-in;
}

.radio-inline {
  padding-left: 10px;
}

.radio-inline + .radio-inline{
  margin-top: 0px;
  margin-left: 28px;
}

.vertical-align {
  display: flex;
  flex-direction: row;
}

.vertical-align > [class^="col-"],
.vertical-align > [class*=" col-"] {
  display: flex;
  align-items: center;
  justify-content: center; /* Optional, to align inner items 
                              horizontally inside the column */
}

.wetlabs {
  border-style: solid;
  border-width: 1px;
  border-radius: 10px;
  padding: 10px 15px;
}

.border-on {
  border-style: solid;
  border-width: 1px;
}

.hanging-text {
  padding-left: 20px;
}